header.masthead {
  text-align: center;
  color: #f0a54c;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50%;
  background-size: cover;
}

.btn-primary {
  color: #212529;
  background-color: #fed136;
  border-color: #fed136;
}

h4 {
  color: #212529;
}

